<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>541591020969-clhusgarjpvq55i4frcf5477q8l4mqpi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.541591020969-clhusgarjpvq55i4frcf5477q8l4mqpi</string>
	<key>API_KEY</key>
	<string>AIzaSyAxBXPswg-rpAfksGTKLso07F7XL9YuC1A</string>
	<key>GCM_SENDER_ID</key>
	<string>541591020969</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.webdesign.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ungansatt123</string>
	<key>STORAGE_BUCKET</key>
	<string>ungansatt123.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:541591020969:ios:6c8c3ca5e3d2195e2190b8</string>
</dict>
</plist>